[Desktop Entry]
Type=Application
Name=TeeVee
Comment=Start VLC and tune into Tunarr
Exec=systemctl --user start teevee.service
Icon=vlc
Terminal=false
