[Unit]
Description=TeeVee
# Starts Tunarr if not running; stops VLC if tunarr disappears
BindsTo=tunarr.service
# Ensures Tunarr starts before VLC
After=tunarr.service

[Service]
Type=oneshot
ExecStart=/usr/bin/vlc --fullscreen --key-nav-up "" --key-nav-down "" --key-nav-left "" --key-nav-right "" --key-nav-activate "" --key-vol-up "Up" --key-vol-down "Down" --key-prev "Left" --key-next "Right" http://127.0.0.1:8000/api/channels.m3u
ExecStopPost=/usr/bin/systemctl --user stop tunarr.service
TimeoutStopSec=15s
