[Desktop Entry]
Type=Application
Name=ES-DE
Comment=EmulationStation Desktop Edition
Exec={{ ansible_facts['env']['HOME'] }}/.local/share/ES-DE/ES-DE_x64.AppImage
Icon=emulationstation-de
Terminal=false
Categories=Game;
