deb {{ package_mirrors[ansible_architecture]['primary'] }} focal main restricted universe multiverse
deb {{ package_mirrors[ansible_architecture]['primary'] }} focal-updates main restricted universe multiverse
deb {{ package_mirrors[ansible_architecture]['security'] }} focal-security main restricted universe multiverse
