deb {{ package_mirrors[ansible_architecture]['primary'] }} bionic main restricted universe
deb {{ package_mirrors[ansible_architecture]['primary'] }} bionic-updates main restricted universe
deb {{ package_mirrors[ansible_architecture]['security'] }} bionic-security main restricted universe
