Types: deb
URIs: {{ package_mirrors[ansible_architecture]['primary'] }}
Suites: noble noble-updates noble-backports
Components: main restricted universe
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

Types: deb
URIs: {{ package_mirrors[ansible_architecture]['security'] }}
Suites: noble-security
Components: main restricted universe
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
